@import "tailwindcss";



html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


:root {
  --color-brown: #b68c5a;
  --color-black: #000000;
  --color-gray: #d3d3d3;
  --color-red: #ff0000;
  --color-green: #00ff00;
  --color-blue: #409eff;
}
